
/*****general*****/

* { box-sizing: border-box;
}




.container {
max-width: 900px;
margin: 0 auto;
padding:0 15px;

}

 body {font-family: 'Open Sans', sans-serif;
}


.clearfix::after{
	content:"";
	clear:both;
	display:table;
}


.visited {
	background-color:#EDF3F7;
	border-radius: 5px;
	padding:5px;

}


/**** header *****/

#menu a{
text-decoration: none;
color: #094067;
font-family: roboto;
text-align: center;
	padding: 5px 10px;
transition: background .3s;
}
#menu ul{
	text-align: center;
	transition: background .3s;
}


#menu li {
	display: inline-block;

}

nav {
    padding: 10px;
	background-color: #BEDEF0;
	margin: 0px;
	
}




header { 
 text-align: center;
background-color: #D1E4EF;

}

header img {
	width: 200px;

}
.didascalia p{ font-size: 14px; 
line-height: 120%;
padding: 16px;
}

/****gallery****/

#gallery img{
	width: 100%;
}
#gallery{
	padding-top:15px;
	padding-bottom: 15px;

}


 #gallery .item {
	 width: 50%;
 float: left;
 padding: 15px;


 }
#gallery .item {
	clear:fl
}



/******footer******/

.social img{
    text-align: center;
    width:50px;
    padding: 10px 8px;
}
.social {text-align: center;
	padding-top: 20px;
}


.social p {
	text-align: center;
	line-height: 0px;
	font-size: 10px;
	color:#000;
}

footer .main{
	text-align: center;
	clear: both;

}

footer .main a{
	display: inline-block;
}

/******footer******/




/*******contatti**********/

#contatti .material-icons li{
	float:left;
}

#main-contact .contact a {
	margin-top: 3px 0 0 5px;
	display: inline-block;
}




.contact .info {
	float: left;
	width: 70%;
	padding: 15px;
}

.contact #contatti{
	float:right;
	width: 30%;
	padding: 15px;
	padding-left: 40px;
}


.contact h1 {
font-size: 20px;
 color: #892cdc;
 font-weight: bold;
padding:auto;
}
.contact p { font-size: 13px;
font-family: roboto;

 }


.contact li { 
padding-top: 0;
 }

.contact ul { list-style-type: none;
padding:0px;

 }
 a{
 	font-family: roboto;
 	color:#000;

 } 
@media only screen and (min-width: 768px){
/****gallery******/
#gallery .item {
	width: 33,33333;

} 

#gallery .item:nth-child(2n + 1){
	clear:left;

}

}

@media only screen and (max-width: 767px){

	#gallery .item:nth-child(2n + 1){
		clear:left;
	
	}

}

/****ABOUT*******/

.profile-pic  {
	whidth: 50px;
}